body{
	background-color: #EEF2F7;
}/*don't change*/

#wrapper{
	width: 100%;
}

/*don't change*/
@media(min-width: 750px){
	#left-panel{
		position: absolute;
		margin-top: 51px;
		width: 250px;
	}
}

/*don't change*/
@media (min-width: 750px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}


